/* home logo */

.logo img{
	position: fixed;
	top: -20px;
	left: 20px;
}

/* user account */

.userLogin img{
	max-height: 32px;
	position: fixed;
	top: 22px;
	right: 347px;
}

.userLogin #welcome {
	font-family: 'Gabriola';
    font-size: 24px;
    color: #818181;
    position: fixed;
    top: 20px;
    right: 265px;
}

.userLogin #name {
	font-family: 'Gabriola';
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    right: 210px;
}

/* my cart */

.myCart #rec1{
	max-height: 46px;
	position: fixed;
	top: 17px;
	right: 40px;
}

.myCart #cart{
	max-height: 28px;
	position: fixed;
	top: 25px;
	right: 137px;
}

.myCart #text1{
	font-family: 'Gabriola';
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    right: 57px;
}

.numItem img{
	max-height: 20px;
	position: fixed;
	top: 10px;
	right: 30px;
}

.numItem #numItem{
	font-family: 'Gabriola';
    font-size: 18px;
    color: #FFFFFF;
    position: fixed;
    top: 3px;
	right: 37px;
}

/* navigation bar */

.navBar #rec2{
	max-height: 46px;
	position: fixed;
	top: 110px;
	left: 40px;
}

.navBar #rec3{
	max-height: 46px;
	width: 212px;
	position: fixed;
	top: 111px;
	left: 118px;
}

.all{
	font-family: 'Gabriola';
    font-size: 24px;
    color: #383838;
    position: fixed;
    top: 115px;
    left: 70px;
}

.chef img{
	max-height: 24px;
	position: fixed;
    top: 120px;
    left: 138px;

}

.chef #text2{
	font-family: 'Gabriola';
    font-size: 24px;
    color: #FFFFFF;
    position: fixed;
    top: 115px;
    left: 178px;

}

.best img{
	max-height: 24px;
	position: fixed;
    top: 120px;
    left: 351px;

}

.best #text3{
	font-family: 'Gabriola';
    font-size: 24px;
    color: #383838;
    position: fixed;
    top: 115px;
    left: 386px;

}

.fruit img{
	max-height: 24px;
	position: fixed;
    top: 120px;
    left: 507px;

}

.fruit #text4{
	font-family: 'Gabriola';
    font-size: 24px;
    color: #383838;
    position: fixed;
    top: 115px;
    left: 547px;

}

.nut img{
	max-height: 24px;
	position: fixed;
    top: 120px;
    left: 635px;

}

.nut #text5{
	font-family: 'Gabriola';
    font-size: 24px;
    color: #383838;
    position: fixed;
    top: 115px;
    left: 678px;

}

.more img{
	max-width: 18px;
	position: fixed;
    top: 130px;
    left: 750px;
}

.viewMode #rec4{
	max-height: 46px;
	position: fixed;
	top: 110px;
	right: 40px;
}

/* view mode */

.viewMode #rec5{
	max-height: 45px;
	position: fixed;
	top: 111px;
	right: 100px;

}

.viewMode #gallery{
	max-height: 24px;
	position: fixed;
	top: 120px;
	right: 117px;
}

.viewMode #album{
	max-height: 24px;
	position: fixed;
	top: 120px;
	right: 60px;
}

/* bottom page */

.bottom{
	margin-left: 160px;
	margin-right: 160px;
	margin-top: 290px;
	height: 300px;
	border: 1px solid #C4C4C4;
	box-shadow: 4px 4px 8px 4px rgba(235, 235, 235, 0.25);
}

/* middle page */

.middle{
	margin-left: 200px;
	margin-right: 200px;
	margin-top: -352px;
	height: 400px;
	border: 1px solid #C4C4C4;
	background-color: white;
	box-shadow: 4px 4px 8px 4px rgba(184, 184, 184, 0.25);
}

/* top page */

/* item picture */

.top1{
	margin-left: 320px;
	margin-right: 320px;
	margin-top: -452px;
	height: 500px;
	border: 1px solid #C4C4C4;
	background-color: white;
	box-shadow: 4px 4px 8px 4px rgba(116, 116, 116, 0.25);
}

.top1 #walnut1{
	width: 38%;
	margin-top: 40px;
	margin-left: 40px;
}

.photo{
	margin-left: 40px;
	margin-top: 30px;
}

.photo #photo1, .photo #photo2, .photo #photo3, .photo #photo4{
	width: 9.6%;
	display: inline-block;
	margin-right: -1px;
}

.photo #photo2{
	border: 3.6px solid;
	box-sizing: border-box;
}

/* item details */

.top2{
	margin-left: 320px;
	margin-right: 320px;
	margin-top: -502px;
	height: 500px;
	border: 1px solid #C4C4C4;
	background-color: white;
}

.top2 #details{
	position: relative;
	top: 40px;
	left: 47%;
}

/* size */

.top2 #size{
	font-family: 'Gabriola';
    font-size: 24px;
    position: relative;
    font-weight: bold;
    left: 50%;
    top: 50px;
}

.size{
	position: relative;
	left: 60%;
	top: 10px;
	font-family: 'Gabriola';
	font-size: 24px;
}

input[type=radio]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label{
  cursor:pointer;
}
input[type=radio] + label:before{
  height:10px;
  margin-right: 4px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  transition: 0.3s;
  border:1px solid #777;
  border-radius:12px;
  box-shadow: inset 0 -5px 6px #e4e4e4;
  transition: 0.3s;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
/* DEFAULT */
input[type=radio] + label:before{
  border-radius:50%;
  width:10px;
  margin-right: 10px;
}

/* CHECKED */
input[type=radio]:checked + label:before{
  box-shadow: inset 0 -1px 3px #F34D4D, inset 0 0 1px #222, inset 0 0 0 3.5px #F34D4D;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: white;
      border: 1px solid #C4C4C4;
	  height: 10px;
	  border-radius: 5px;
	  width: 20px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background-color: white;
      height: 10px;
      border-radius: 5px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      border-radius: 10px;
      margin-top: 0px;
      cursor: pointer;
      background: #FFFFFF;
      box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.4),-200px 0 0 195px #F34D4D;
    }
}


.size #regular, .size #large{
    margin-top: 12px;
}

.size #largeMon{
	font-family: 'Gabriola';
    font-size: 24px;
    font-weight: bold;
}

.size #large, .size #largeMon{
	display: inline;
}

/* sweetness */

.top2 #sweetness{
	font-family: 'Gabriola';
    font-size: 24px;
    position: relative;
    font-weight: bold;
    left: 50%;
    top: 8px;
}

.scaleLabel{
	position: relative;
	left: 60%;
	top: 5px;
}

.scaleLabel #little, .scaleLabel #medium, .scaleLabel #extreme{
	font-family: 'Gabriola';
    font-size: 16px;
    display: inline;
    margin-right: 60px;
}

.scaleLabel #labelBar{
	position: relative;
	left: 10px;
	top: -15px;
}

.scaleLabel #labelBar img{
	margin-right: 46px;
}

.scaleBar #sweetScale{
	position: relative;
	left: 5px;
	top: -20px;
	width: 215px;
}

/* glazing */

.top2 #glazing{
	font-family: 'Gabriola';
    font-size: 24px;
    position: relative;
    font-weight: bold;
    left: 50%;
    top: -5px;
}

.glazing{
	position: relative;
	left: 60%;
	top: -20px;
	font-family: 'Gabriola';
    font-size: 24px;
}


.glazing #none{
	margin-bottom: 15px;
}


.glazing #sugarMon, .glazing #vanillaMon, .glazing #chocoMon{
	font-family: 'Gabriola';
    font-size: 24px;
    font-weight: bold;

}

.glazing #sugar, .glazing #sugarMon{
	display: inline;
}

.glazing #vanilla, .glazing #vanillaMon{
	display: inline;
}

.glazing #choco, .glazing #chocoMon{
	display: inline;
}

/* select quantity */

.quantity{
	width: 137px;
	height: 50px;
	background-color: #EEEEEE;
	border-radius: 15px;
	margin-right: 10px;
	position: absolute;
	margin-top: 15px;
	left: 500px;
}

.quantity #qty{
	font-family: 'Gabriola';
    font-size: 32px;
    color: #818181;
    position: relative;
    margin-left: 20px;
}

.quantity #num{
	font-family: 'Gabriola';
    font-size: 32px;
    font-weight: bold;

}

.quantity #showQty{
	max-width: 18px;
	position: relative;
	left: 15px;
	bottom: 2px;
}

.quantity #qty, .quantity #num{
	display: inline;
}

/* add to cart */

.addCart{
	width: 182px;
	height: 50px;
	background-color: #F34D4D;
	border-radius: 15px;
	position: absolute;
	margin-top: 15px;
	right: 500px;
	cursor: pointer;
}

.addCart #cost{
	font-family: 'Gabriola';
    font-size: 32px;
    color: #FFFFFF;
    position: relative;
    margin-left: 20px;
}

.addCart #add{
	max-height: 24px;
	position: relative;
	left: 95px;
	top: -45px;
}

.addCart #cart{
	max-height: 28px;
	position: relative;
	left: 100px;
	top: -43px;
}

.leftArrow img{
	max-height: 48px;
	position: absolute;
	top: 415px;
	left: 100px;
}

.rightArrow img{
	max-height: 48px;
	position: absolute;
	top: 415px;
	right: 100px;
}